<!DOCTYPE html>
<html>
<head>
	<title>Meme bot</title>
</head>
<body>
	<h1>Image bot</h1>
	<form method="post" action="/render" enctype="multipart/form-data">
		<p>Image:<input type="file" name="image"></p>
		<p>Text:<input type="text" name="text"></p>
		<p><input type="submit" name="upload"></p>
	</form>
</body>
</html>